* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro';
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}


.selected-row {
  background-color: #f8f9fa; /* Cor de fundo mais clara */
  color: #6c757d; /* Cor do texto em cinza */
}